In [39]:
import pandas as pd
import numpy as np

In [4]:
data = pd.read_csv("../data/ermera_full/grid.csv")

In [5]:
data

        Pop_Lat     Pop_Lon  Population  Grid_Lat    Grid_Lon  Distance_KM
0      -8.64625  125.469583          32 -8.746423  125.197505           59
1      -8.64625  125.477916          32 -8.746423  125.197505           60
2      -8.64625  125.486250          32 -8.746423  125.197505           60
3      -8.64625  125.494583          33 -8.746423  125.197505           62
4      -8.64625  125.502916          37 -8.746423  125.197505           63
...         ...         ...         ...       ...         ...          ...
124219 -8.72125  125.377916         467 -8.672032  125.533124           21
124220 -8.72125  125.386250         461 -8.672032  125.533124           22
124221 -8.72125  125.394583         270 -8.672032  125.533124           21
124222 -8.72125  125.402916         200 -8.672032  125.533124           22
124223 -8.72125  125.411250         476 -8.672032  125.533124           23

[124224 rows x 6 columns]

In [53]:
populations = data[["Pop_Lat", "Pop_Lon"]].drop_duplicates().reset_index().drop(columns=["index"])
populations

     index  Pop_Lat     Pop_Lon
0        0 -8.64625  125.469583
1        1 -8.64625  125.477916
2        2 -8.64625  125.486250
3        3 -8.64625  125.494583
4        4 -8.64625  125.502916
..     ...      ...         ...
157    157 -8.72125  125.386250
158    158 -8.72125  125.394583
159    159 -8.72125  125.402916
160    160 -8.72125  125.411250
161    161 -8.72125  125.419583

[162 rows x 3 columns]

In [54]:
facilities = data[["Grid_Lat", "Grid_Lon"]].drop_duplicates().reset_index().drop(columns=["index"])
facilities

      index  Grid_Lat    Grid_Lon
0         0 -8.746423  125.197505
1       162 -8.755461  125.197558
2       324 -8.746370  125.206590
3       486 -8.755408  125.206643
4       648 -8.764447  125.206696
..      ...       ...         ...
763  123419 -8.663055  125.523983
764  123580 -8.672092  125.524043
765  123741 -8.681128  125.524103
766  123902 -8.690165  125.524164
767  124063 -8.672032  125.533124

[768 rows x 3 columns]

In [43]:
distances = pd.DataFrame(
    index=facilities.index,
    columns=populations.index,
    data=np.nan
)

In [59]:
for i, population in populations.iterrows():
    for j, facility in facilities.iterrows():
        matching_row = data[
            (data["Pop_Lat"] == population["Pop_Lat"]) &
            (data["Pop_Lon"] == population["Pop_Lon"]) &
            (data["Grid_Lat"] == facility["Grid_Lat"]) &
            (data["Grid_Lon"] == facility["Grid_Lon"])
        ]

        if not matching_row.empty:
            distances.at[j,i] = matching_row.iloc[0]["Distance_KM"]

In [63]:
distances.isna().sum()

0        0
1        0
2        0
3        0
4        0
      ...
157      0
158      0
159      0
160      0
161    192
Length: 162, dtype: int64